.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #d16cb6;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .appBar {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
}
