.container {
  margin-bottom: 15px;
  text-align: center;
}

.text {
  color: #221336;
  font-size: 20px;
  font-weight: bold;
}
.search {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  max-width: 460px;
  margin: 0 auto;
  padding: 20px;
  background: #6b4a8c;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.input {
  margin: 0 auto;
  width: 250px;
  padding: 8px 12px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #570a42;
}

.input:focus {
  outline: none;
  border-color: #50023b;
}
@media (max-width: 768px) {
  .search {
    flex-direction: column;
    align-items: stretch;
  }
}
