.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5dc; 
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 1rem;
  color: #221336;
  margin: 0;
}

.button {
  padding: 8px 16px;
  font-size: 1rem;
  color: white;
  background-color: #bf5ea5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #c03f9e;
}
